/* 
    Jeffrey Stewart
    CSE264
*/
p{
    font-family: "Courier New";
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}
h1{
    font-size: 10px;
    text-align: center;
    color: darkgray;
}
#calc{
    height: 670px;
    width: 485px;
    background-color: silver;
    border-style: solid;
    border-radius: 10px;
}

#display{
    height: 50px;
    width: 465px;
    margin-left: 10px;
    border-style: solid;
    border-radius: 10px;
    background-color: lightsteelblue;
    border-color: white;
    /*text*/
    font-family:"Lucida Console";
    text-align: right;
    vertical-align: middle;
    font-size: 32px;
    color: black;
    font-weight: bold;
}
#clear{
    float: right;
    height:100px;
    width: 216px;
    background-color: lightsteelblue;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    margin: 5px;
    /*text*/
    color: black;
}
#numbers{

    float: right;
    width: 375px;
}
#functions{
    float: right;
}
#clearAll{

    float: right;
}
#right{
    margin-right:10px;
    float: right;
}
#numleft{
    float: right;
}
#nummid{
    float: right;
}
#numright{
    float: right;
}
#numbers{
    margin-right: 10px;
    float: right;
    width: 1000px;
}

#clearAll, #divide, #mult, #sub, #add, #push, #dec, #posneg{
    margin-left: 15px;
    height: 100px;
    width: 100px;
    background-color: lightsteelblue;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    margin: 5px;
    /*text*/
    color: black;
}
#nine, #eight, #seven, #six, #five, #four, #three, #two, #one, #zero{
    margin-left: 15px;
    margin: 5px;
    height:100px;
    width: 100px;
    background-color: lightsteelblue;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    /*text*/
    color: red;

}
